@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind apply;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --soft-red: hsl(10 79% 65%);
  --cyan: hsl(186 34% 60%);
  --dark-brown: hsl(25 47% 15%);
  --medium-brown: hsl(28 10% 53%);
  --cream: hsl(27 66% 92%);
  --very-pale-orange: hsl(33 100% 98%);
}

@layer base {
  body {
    background-color: theme("colors.cream");
    font-family: theme("fontFamily.sans");
    color: var(--dark-brown);
    height: 100vh;
    align-content: center;
    justify-content: center;
    display: grid;
  }
}

.content {
  display: flex;
  flex-direction: column;
  min-width: 30rem;
}

.balance-container {
  background-color: var(--soft-red);
  color: var(--very-pale-orange);
  padding: 1.6rem 0 1.2rem 2.1rem;
  margin: 1.25rem 0;
  border-radius: 1.25rem;
  position: relative;
  text-align: left;
}
.balance-container p {
  font-size: 1.1em;
}

.balance {
  font-size: 1.75em;
}

.logo {
  position: absolute;
  top: 2.5em;
  right: 1.5em;
}
.chart-container {
  background-color: var(--very-pale-orange);
  border-radius: 1.25rem;
  padding: 2rem 2.6rem 2rem;
}

.chart-container h1 {
  font-size: 1.75em;
}

.chart{
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.total {
  font-size: 2rem;
}

#total {
  font-size: 1.2em;
  opacity: 0.7;
}

hr {
  margin: 1rem 0 2rem;
  border-top: 2px solid;
}

@media screen and (min-width: 370px) {
  body {
    font-size: 10px;
  }
}
@media screen and (min-width: 800px) {
  body {
    font-size: 12px;
  }
}
@media screen and (min-width: 1100px) {
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 1400px) {
  body {
    font-size: 16px;
  }
}
